{% extends 'base.html' %}

{% block title %} Cambiar Password {% endblock title %}

{% block content %}

<style>
 body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("../static/cambiarpass.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

</style>

<div class="bg">


<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <form method="post" action="{{ url_for('users.cambiarpass', username=session['username']) }}" name="RegisterForm">
  {{ form.hidden_tag() }}
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Cambiar Password</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="form-group">
        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          {{ form.old_password(type="password", id="orangeForm-pass", class="form-control validate") }}
          {{ form.old_password.label(for="orangeForm-pass") }}
        </div>
        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          {{ form.password(type="password", id="orangeForm-pass", class="form-control validate") }}
          {{ form.password.label(for="orangeForm-pass") }}
        </div>
        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          {{ form.password_confirm(type="password", id="defaultForm-pass", class="form-control validate") }}
          {{ form.password_confirm.label(for="orangeForm-pass") }}
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">

          {{ form.submit(class="btn btn-deep-orange") }}

      </div>
    </div>
    </div>
  </div>
  </form>
</div>

<div class="text-center">
  <h1><a href="" class="btn btn-default btn-rounded mb-4 text-white font-weight-bold" data-toggle="modal" data-target="#modalRegisterForm" id="cp">CAMBIAR PASSWORD</a></h1>
</div>
</div>
{% endblock content %}